language: php

dist: trusty

php:
  - 7.0
  - 7.1
  - 7.2
  - 7.3

sudo: false

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer update --no-interaction --prefer-source

script:
  - mkdir -p build/logs
  - ./vendor/bin/phpunit --coverage-clover build/logs/clover.xml

after_success:
  - ./vendor/bin/coveralls -v
